body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1603px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1603px;
  height:693px;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1603px;
  height:693px;
  display:flex;
}
#u1588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:74px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:595px;
  width:1083px;
  height:74px;
  display:flex;
}
#u1589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:71px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:166px;
  width:317px;
  height:71px;
  display:flex;
}
#u1590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
